@import '../../../index.scss';

.details-content {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.podcast-info {
  border-radius: 1rem;
  position: relative;
  min-height: 30rem;
  flex-direction: column;
  display: flex;
  box-shadow: 5px 5px 10px 1px #adadad;
  align-items: center;
}

.episodes-content {
  display: flex;
  position: relative;
  min-height: 30rem;
  width: 70%;
  justify-content: flex-start;
  flex-direction: column;
}

.podcast-name-section {
  @extend %separator;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.podcast-name-section:hover {
  @extend %hover-share;
}

.podcast-description-section {
  @extend %separator;
  @extend %description;
}

.podcast-title {
  margin: 0px;
}

.podcast-image {
  height: 15rem;
  width: 15rem;
}

.podcast-image:hover {
  @extend %hover-share;
}

.podcast-image-container {
  padding: 1.5rem;
  margin-top: 1rem;
}
