@import '../../index.scss';

$width: 18rem;

.card {
  width: $width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.card-content {
  display: inline-block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 5px 5px 10px 1px #adadad;
  border-radius: 5px;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  transform: translateY(5.5rem);
  border-radius: 100%;
  box-shadow: 5px 5px 10px 1px #adadad;
}

.card-content:hover {
  @extend %hover-share;
}

.card-image:hover {
  @extend %hover-share;
  ~ .card-content {
    @extend %hover-share;
  }
}

.title {
  margin-top: 6.5rem;
  font-weight: 500;
  text-align: center;
  max-height: 3rem;
  min-height: 2.5rem;
  overflow-y: scroll;
}

.subtitle {
  color: #898989;
  align-self: center;
  text-align: center;
  height: 2rem;
}
