@import "../../../../../index.scss";
.audio-player {
  margin-top: 20px;
  width: 100%;
}

.episodes-player {
  @extend %box;
  min-height: 20rem;
  max-height: 120rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.podcast-player-description {
  @extend %description;
}

.episodes-header {
  border-radius: 10px;
  height: 5rem;
  box-shadow: 5px 5px 10px 1px #adadad;
  padding-left: 1rem;
}
.episodes-content {
  display: flex;
  position: relative;
  min-height: 30rem;
  width: 50rem;
  justify-content: flex-start;
  flex-direction: column;
}
