@import '../../index.scss';

.details-content {
  margin-top: 5rem;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

%separator {
  border-top: 1px solid #ddd;
  width: 18rem;
  padding: 1rem;
}

.podcast-info {
  border-radius: 10px;
  position: relative;
  min-height: 30rem;
  width: 20rem;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  box-shadow: 5px 5px 10px 1px #adadad;
  align-items: center;
}

.podcast-name-section {
  @extend %separator;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.podcast-name-section:hover {
  @extend %hover-share;
}
%description {
  word-wrap: break-word;
  text-align: justify;
}

.podcast-player-description {
  @extend %description;
}
.podcast-description-section {
  @extend %separator;
  @extend %description;
  /* para permitir que se rompa el texto incluso dentro de las palabras */
}

.podcast-title {
  margin: 0px;
}

.podcast-image {
  height: 15rem;
  width: 15rem;
}

.podcast-image:hover {
  @extend %hover-share;
}

.podcast-image-container {
  padding: 1.5rem;

  margin-top: 1rem;
}

.episodes-content {
  display: flex;
  position: relative;
  min-height: 30rem;
  width: 50rem;
  justify-content: flex-start;
  flex-direction: column;
}

.audio-player {
  margin-top: 20px;
  width: 100%;
}

.episodes-header {
  border-radius: 10px;
  height: 5rem;
  box-shadow: 5px 5px 10px 1px #adadad;
  padding-left: 1rem;
}

.episodes-list {
  @extend %box;
  margin-top: 5rem;
  max-height: 20rem;
  overflow-y: scroll;
}
.episodes-player {
  @extend %box;
  min-height: 20rem;
  max-height: 120rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
%box {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px #adadad;
  padding: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  color: #212529;
  font-size: 1rem;
  line-height: 1.5;
  overflow: auto;
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: justify;
    border-top: 1px solid #dee2e6;
  }

  thead {
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
  }
}

$table-border-color: #dee2e6;
$table-background-color: #f0f0f0;
$table-background-color-alt: #fff;

.table {
  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  tr {
    &:nth-child(even) {
      background-color: $table-background-color;
    }

    &:nth-child(odd) {
      background-color: $table-background-color-alt;
    }
  }
}
